@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
}

.borderBlack {
    @apply border border-black/10;
}

/* Override vertical timeline default width */
.vertical-timeline {
    max-width: 100% !important;
    width: 100% !important;
}

.vertical-timeline-element {
    margin-bottom: 2rem !important;
}

.vertical-timeline-element-content {
    max-width: 100% !important;
    margin-left: 0 !important;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content {
        width: 44% !important;
        margin-left: 0 !important;
    }

    .vertical-timeline--two-columns
        .vertical-timeline-element:nth-child(even):not(
            .vertical-timeline-element--left
        )
        .vertical-timeline-element-content,
    .vertical-timeline--two-columns
        .vertical-timeline-element.vertical-timeline-element--right
        .vertical-timeline-element-content {
        float: right;
        margin-right: 0 !important;
    }

    .vertical-timeline--two-columns
        .vertical-timeline-element:nth-child(odd):not(
            .vertical-timeline-element--right
        )
        .vertical-timeline-element-content,
    .vertical-timeline--two-columns
        .vertical-timeline-element.vertical-timeline-element--left
        .vertical-timeline-element-content {
        float: left;
        margin-left: 0 !important;
    }
}
